header img {
  width: 40%;
}
/* more specific takes precedence*/
nav a {
  text-decoration: line-through;
}
a {
  text-decoration: none;
}
/* more recent takes precedence */
p { color: yellowgreen; }
p { color: aqua}
p { color: bisque}
p { color: orange; }

h1 { color: aqua}
h2 { color: red}
h3 { color: palegreen}
h4 { color:black}

/* resize images */
.container img {
    width: 30%;
    height: auto;
}
.addBorder {
  /* creating addBorder class and specifying Thickness, Style, and Color. Note: only Tufts is of the class and will have the border */
  border: 1px solid #000000;
}
/* learning how to use a Box. Note, it's not right yet. Article images 20% after margins and padding. 
.box {
        width: 20%;
        padding: 1em;
        border: 5px solid gray;
        margin: 0;
      } */
p {
    text-align: center;
}
p.left {
    text-align: left;
    color: magenta;
}

#para1 {
    text-align: center;
    color: blue;
}
#para2 {
    text-align: left;
    color: brown;
}
#para3 {
    text-align: center;
    color: blanchedalmond;
}
#para4 {
    text-align: right;
    color: greenyellow;
}
#para5 {
    text-align: center;
    color: green;
}
#para6 {
    text-align: left;
    color: silver;
}
#para7 {
    text-align: right;
    color: crimson;
}